# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mtl
*.gltf
*.glb
*.fbx
*.dae
*.pxm
*.pxm
Assets/Documentation/Godot - KayKit Animations Implementation Guide.pdf
Assets/Documentation/Unity - KayKit Animations Implementation Guide.pdf
Assets/Documentation/Unreal - KayKit Animations Implementation Guide.pdf
Assets/Documentation/Video Guide - YouTube.url
Assets/KayKit Brand Resouces/KayKit_logo.png
Assets/KayKit Brand Resouces/KayKit_logo_black.png
Assets/KayKit Brand Resouces/KayKit_logo_red.png
Assets/KayKit Brand Resouces/KayKit_logo_white.png
Assets/KayKit Brand Resouces/KayKit_logoVariation_black.png
Assets/KayKit Brand Resouces/KayKit_logoVariation_red.png
Assets/KayKit Brand Resouces/KayKit_logoVariation_white.png
imgui.ini
*.map
